*{
    margin: 0;
}
.menu{
    position: sticky;
    top: 0px;
    z-index: 100;
}
.pie{
    background-color: #1d506d;
    margin: 0;
    display: flex;
}
#enviar{
    background-color: #96c93e;
    color: white;
}
.pie .container-footer a{
    color:white;
    text-decoration: none;
}
.oscuridad{
    filter: brightness(0.5);
}
/*.carousel-caption{
    right: 5%;
}*/
.texto{
    margin-bottom: 6em;
    right: 3%;
}

.footer-item{
    padding: 1em;
}




/* FOOTER */

.footer {
    background-image: linear-gradient(to right, #004d7a, #008793);
  }
  
  .footer .container-footer {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .container-footer a {
    text-decoration: none;
    color: var(--gray-200);
    padding: 3rem 0;
    width: 100px;
    text-align: center;
  }
  
  .footer .container-footer a:hover {
    color: var(--gray-500);
  }